$background-color: #eb95b2;
$text-color: #f1d3b3;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;
$activeLink: #9c49ab;
$inActiveLink: #596ca9;
$header-background-color: #e0cbe8;
$not-found-color: #bc0d0d;
$favorite-color: #ff0404;
$delete-icon-color: #ff0000;
$add-to-cart-btn: #79c7d7;
$add-to-wishlist-btn: #a57ad3;
$border-color: #cfcfcf;
