@import "../styles/mixins";
.carousel__container {
    width: 100%;
    .category__name {
        width: 100%; 
        margin: 20px; 
        font-family: fantasy;
    }
        .category_header {
            display: flex;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            justify-content: center;
            font-size: 35px;
            background-color: #f6f6f6;
            padding: 15px;
        }
    
    .categories__not--found {
        @include data-not-found
    }
    
}
